<style>
    .hero {
        background-image: url("/images/hero-background.jpg");
        background-size: cover;
        background-position: center center;
        background-color: rgba(0, 0, 0, 0.822);
    }

    #glass {
        background: rgba(255, 255, 255, 0.08);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.487);
        backdrop-filter: blur(9.5px);
        -webkit-backdrop-filter: blur(9.5px);
        border: 0.5px solid rgba(255, 255, 255, 1);
        padding: 20px;
    }
</style>

<section id="hero_section" class="hero is-primary is-fullheight">
    <div class="hero-body">
        <div class="container" id="glass">
            <h1 class="title">
                Welcome to Cab Central
            </h1>
            <h2 class="subtitle">
                Book a ride with ease and convenience.
            </h2>
            <div class="columns ">
                <div class="column map-container">
                    <iframe 
                        style="border-radius: 8px;"
                        class="gmap_iframe" 
                        frameborder="0" 
                        scrolling="no" 
                        marginheight="0" 
                        marginwidth="0" 
                        src="https://maps.google.com/maps?width=1000&amp;height=800&amp;hl=en&amp;q=University%20of%20Mpumalanga&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
                        width="400"
                        height="300" ></iframe>
                        <br><br>
                </div>
                <div class="column">
                    <h1 class="title">
                        Introduction
                    </h1>
                    <p >
                        Welcome to Infinite Tech, a dynamic force in the realm of technology, where we transcend boundaries and redefine possibilities. Our journey is characterized by a relentless pursuit of innovation that knows no limits.
                    <p>
                        <br><br><br>
                        <a onclick="showContacts()" class="button is-primary is-large is-outlined">
                            Contact Us
                        </a>
                    

                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            <!-- <img src="images/vehicle1.jpg" alt="Vehicle 1"> -->
                        </figure>
                    </div>
                    <div class="card-content">
                        <!-- <p class="title">Mercedees Sprinter Chassis</p> -->
                        <!-- <p>Vehicle description and details go here.</p> -->
                        <br>
                        <!-- <button class="button is-danger">Currently Booked</button> -->
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            <!-- <img src="images/vehicle2.jpg" alt="Vehicle 2"> -->
                        </figure>
                    </div>
                    <div class="card-content">
                        <!-- <p class="title">Toyota Quantum</p> -->
                        <!-- <p>Guest Vehicle.</p> -->
                        <br>
                        <!-- <button class="button is-primary">Contact Driver</button> -->
                    </div>
                </div>
            </div>
            <!-- Add similar code for the remaining cards -->
            <div class="column">
                <div class="card">
                    <div class="card-image">
              
                    </div>
                    <div class="card-content">
                        <!-- <p class="title">Nissan NV350</p> -->
                        <!-- <p class="subtitle">R40/km</p> -->
                        <!-- <p>Only Available for students</p> -->
                        <br>
                        <!-- <button class="button is-primary">Book Ride</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about_section" class="hero is-primary is-fullheight">
    <div class="columns hero-body">
        <div class="column" >
            <h1 class="title">
                Our Mission
            </h1>
            <p>
                At Infinite Tech, our mission is to pioneer the future of technology by relentlessly pushing boundaries and crafting solutions that inspire change. We strive to lead the way in transformative innovation, offering cutting edge solutions that empower individuals and organizations to thrive in an ever evolving digital landscape.

            </p>
        </div>
        <article class="column card">
            <h1 style="color: #00d1b2;" class="title is-primary">
                Values
            </h1>
            <div class="message-body">

            
                    Our values are the cornerstone of our identity. We are guided by a commitment to excellence, integrity, and collaboration. We believe in fostering an environment that nurtures creativity and embraces diversity. At Infinite Tech, we value not only what we create but also how we create it with passion, curiosity, and a shared dedication to shaping a future where possibilities are infinite.
                
            </div>
        </article>
    </div>
</section>

