<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
     <!-- Bulma is included -->
     <link rel="stylesheet" href="css/main.min.css">
     <!-- Fonts -->
     <link rel="dns-prefetch" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
       <style>
            .password-resert {
                background-image: url("/images/hero-background.jpg");
                background-size: cover;
                background-position: center center;
                background-color: rgba(0, 0, 0, 0.822);
            }
      </style>
</head>
<body >
    <div class="container">
        <%- include('components/topbar.ejs') %>
      </div>

    <section class="section password-resert">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half">
                    <div class="box">
                        <h2 class="title is-4 has-text-centered">Request Password</h2>

                        <% if(message.isError) { %>
                        <article class="message is-danger">
                            <div class="message-body">
                                <%= message.msg %>
                                <a  href="/auth/register"><strong> Create an Account Instead</strong></a>
                            </div>
                          </article>
                          <% } else { %>
                            <article class="message is-primary">
                                <div class="message-body">
                                    <%= message.msg %>
                                    <br>
                                </div>
                              </article>
                            <% } %>
                            <% if(message.isError) { %>
                        <form action="/reset-password" method="post">
                            <div class="field">
                                <label for="email" class="label">Email:</label>
                                <div class="control">
                                    <input type="email" id="email" name="email" class="input" required>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">

                                    <button type="submit" class="button is-primary is-fullwidth">Reset Password</button>
                                </div>
                            </div>
                        </form>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                &copy; <%= new Date().getFullYear() %> Infinite Techs
            </p>
        </div>
      </footer>
</body>
</html>
